<h1 class="display-4">Welcome To My Article App</h1>
<p class="mo-4">This is a Sails.js CRUD App</p>
<a href="/article/list" class="btn btn-light">Article-List</a>
<a href="/article/add" class="btn btn-light">Add Article</a>
